:root {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.btn {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 7px 14px;
}

.ml-5 {
  margin-left: 5px;
}

section {
  margin-bottom: 30px;
}
